<!DOCTYPE html>
<head lang="fr">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% set page_title -%}
    {% block title %}Transparence IRFM par Regards Citoyens{% endblock %}
  {%- endset %}

  {% set page_subtitle -%}
    {% block subtitle %}Aidez-nous à obtenir la transparence sur l'Indemnité Représentative de Frais de Mandat !{% endblock %}
  {%- endset %}

  {% set page_image -%}
    http://manet.regardscitoyens.org/?url={{ request.url|urlencode }}&delay=100&width=1024&zoom=0.75&format=jpg&clipRect=0,0,1024,768&t={{ manet_timestamp }}
  {%- endset %}

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@RegardsCitoyens" />
  <meta name="twitter:title" content="{{ page_title }}" />
  <meta name="twitter:description" content="{{ page_subtitle }}" />
  <meta name="twitter:image" content="{{ page_image }}" />
  <meta name="title" content="{{ page_title }}" />

  <!-- Facebook metas -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ page_title }}" />
  <meta property="og:site_name" content="Transparence IRFM" />
  <meta property="og:description" content="{{ page_subtitle }}" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta property="og:locale" content="fr_FR" />
  <meta property="og:image" content="{{ page_image }}" />
  <meta property="og:image:type" content="image/jpeg" />

  <title>{{ page_title }}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

  {% block header %}
  {% endblock %}
</head>
<body>
  <header class="jumbotron">
    <div class="container-fluid">
      <div class="header-container">
        <a href="{{ url_for('home') }}"><img class="header-logo" src="{{ url_for('static', filename='rc-big.png') }}"></a>
        <div class="header-text">
          {% filter markdown -%}
            {% include "text/header.md" %}
          {% endfilter %}
        </div>
      </div>

      <ul class="nav nav-pills">
        {% for item in menu %}
          <li role="presentation" {% if request.endpoint == item.endpoint %}class="active"{% endif %}><a href="{{ item.url }}">{{ item.label }}</a></li>
        {% endfor %}

        {% block menuitem %}
        {% endblock %}

        <li role="presentation" class="login">

            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if session.user %}
                  {% if session.user.admin %}
                    <img class="rc-small" src="{{ url_for('static', filename='rc.png') }}">
                  {% else %}
                    {{ session.user.nick }}
                  {% endif %}
                {% else %}
                  S'identifier
                {% endif %}
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                {% if session.user %}
                  {% if not is_admin %}
                    <li>
                      <a href="{{ url_for('profil') }}">Abonnements et alertes</a>
                    </li>
                  {% endif %}
                  <li>
                    <a href="{{ url_for('logout') }}">Se déconnecter</a>
                  </li>
                {% else %}
                  <li>
                    <form class="form-horizontal login-form" method="POST" action="{{ url_for('login') }}">
                      <input name="nick" type="text" class="form-control" placeholder="Pseudo">
                      <input name="email" type="text" class="form-control" placeholder="Adresse e-mail">
                      <small>Votre adresse e-mail ne sera pas publiée.</small><br><br>
                      <input type="submit" class="btn btn-primary" value="Valider">
                    </form>
                  </li>
                {% endif %}
              </ul>
            </div>

        </li>
      </ul>
    </div>
  </header>

  <section class="container-fluid">
    {% for cat, message in get_flashed_messages(with_categories=True) %}
      {% if cat == 'success' %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% else %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
      {% endif %}
    {% endfor %}

    {% block content %}
    {% endblock %}

    <div class="col-md-12">
    </div>
  </section>

  <footer class="well text-center">
    <small>
      <p>
        Ce site est un <a href="https://git.regardscitoyens.org/regardscitoyens/irfm" target="_blank">logiciel libre</a>,
        distribué sous <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">
          license <img src="https://www.gnu.org/graphics/agplv3-155x51.png" alt="AGPLv3" style="height: 1.5em;"></a>

        &mdash;

        Les contenus sont réutilisables sous license
        <a href="http://creativecommons.org/licenses/by-sa/2.0/fr/" target="_blank">
          <img src="https://i.creativecommons.org/l/by-sa/2.0/fr/80x15.png" alt="CC-BY-SA"></a>

        &mdash;

        Carte adaptée de
          <a href="https://commons.wikimedia.org/wiki/File:Carte_vierge_d%C3%A9partements_fran%C3%A7ais_avec_DOM.svg" target="_blank">Wikimedia Commons</a>
          <a href="http://creativecommons.org/licenses/by-sa/2.0/fr/" target="_blank"><img src="https://i.creativecommons.org/l/by-sa/2.0/fr/80x15.png" alt="CC-BY-SA"></a>

        &mdash;

        Un projet <a href="https://www.regardscitoyens.org/" target="_blank">
          <img src="{{ url_for('static', filename='rc.png') }}" style="height: 1.5em; vertical-align: top;">
          Regards Citoyens</a>

        &mdash;

        <a href="mailto:{{ config.ADMIN_EMAIL }}">Nous contacter</a>
      </p>

      <p>
        <i>Vous êtes libre de réutiliser, modifier et recouper les données dans la mesure où vous indiquez leur source et que vous republiez les données modifiées ayant servi lors d'une réutilisation publiée.</i>
      </p>
    </small>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>

  <script>
    $('.dropdown-toggle').dropdown();
  </script>

  {% block scripts %}
  {% endblock %}

  {% if piwik %}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//{{ piwik.host }}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', {{ piwik.id }}]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//{{ piwik.host }}/piwik.php?idsite={{ piwik.id }}" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  {% endif %}

  <script>
    $(document).ready(function() {
      $("input[name=nick]").keyup(function() {
        if ($(this).val() == '!rc') {
          $("input[name=email]").attr("type", "password");
        } else {
          $("input[name=email]").attr("type", "text");
        }
      });

      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>
</body>
