{% extends "_base.html.j2" %}

{% block content %}
  <section class="panel panel-default">
    <header class="panel-heading">
      <b>{{ titre }}</b>
    </header>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Parlementaire</th>
          <th>Étape</th>
          <th>Date</th>
          <th>Utilisateur</th>
          <th>Suivi</th>
          <th>Fichier joint</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for action in actions %}
          <tr>
            <td>
              <a class="btn btn-default btn-sm" href="{{ url_for('parlementaire', id=action.parlementaire_id) }}">Voir</a>
              {{ action.parlementaire.nom_complet }}
            </td>
            <td>{{ action.etape|label_etape }}</td>
            <td>{{ action.date.strftime('%c') }}</td>
            <td>
              {% if not action.user %}
                <span class="anon">anonyme</span>
              {% elif action.user.nick == '!rc' %}
                <img class="rc-small" src="{{ url_for('static', filename='rc.png') }}">
              {% else %}
                {{ action.user.nick }} ({{ action.user.email }})
              {% endif %}

              {% if action.ip %}
                depuis {{ action.ip }}
              {% endif %}
            </td>
            <td>
              {% if action.suivi and action.etape == ordres.ETAPE_ENVOYE %}
                {{ action.suivi|suivi_laposte }}
              {% elif action.suivi %}
                {{ action.suivi|e }}
              {% endif %}
            </td>
            <td>
              {% if action.attachment %}
                <a class="btn btn-default btn-sm" href="{{ url_for('attachment', id=action.id) }}" target="_blank">Voir</a>
                {{ action.attachment }}
              {% endif %}
            </td>
            <td class="col-right">
              {% if action.etape == ordres.ETAPE_COM_A_MODERER %}
                <a class="btn btn-primary btn-sm" href="{{ url_for('admin_publish', id=action.id) }}" title="Publier" data-toggle="tooltip"><i class="fa fa-check"></i></a>
              {% endif %}

              {% if action.etape == ordres.ETAPE_COM_A_MODERER or
                    action.etape == ordres.ETAPE_COM_PUBLIE or
                    action.etape == action.parlementaire.etape %}
                <a class="btn btn-danger btn-sm" href="{{ url_for('admin_delete', id=action.id) }}" title="Supprimer" data-toggle="tooltip"><i class="fa fa-trash"></i></a>
              {% endif %}
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}

