{% extends "_base.html.j2" %}

{% block content %}
  <section class="panel panel-default">
    <header class="panel-heading">
      <b>{{ titre }}</b>
    </header>

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Parlementaire</th>
          <th>Etape</th>
          <th>Date</th>
          <th>Utilisateur</th>
          <th>Suivi</th>
          <th>Fichier joint</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for action in actions %}
          <tr>
            <td>
              <a class="btn btn-default btn-sm" href="{{ url_for('parlementaire', id=action.parlementaire_id) }}">Voir</a>
              {{ action.parlementaire.nom_complet }}
            </td>
            <td>{{ action.etape|label_etape }}</td>
            <td>{{ action.date.strftime('%c') }}</td>
            <td>
              {% if action.nick == '!rc' %}
                <img class="rc-small" src="{{ url_for('static', filename='rc.png') }}">
              {% else %}
                {{ action.nick }} ({{ action.email }}) depuis {{ action.ip }}
              {% endif %}
            </td>
            <td>
              {% if action.suivi %}
                <a href="http://www.part.csuivi.courrier.laposte.fr/suivi/index?id={{ action.suivi }}" target="_blank">{{ action.suivi }}</a>
              {% endif %}
            </td>
            <td>
              {% if action.attachment %}
                <a class="btn btn-default btn-sm" href="{{ url_for('attachment', id=action.id) }}" target="_blank">Voir</a>
                {{ action.attachment }}
              {% endif %}
            </td>
            <td class="col-right">
              {% if action.etape.ordre == action.parlementaire.etape.ordre %}
                {# On n'autorise la suppression que si l'étape est la dernière du parlementaire #}
                <a class="btn btn-danger btn-sm" href="{{ url_for('admin_delete', id=action.id) }}">Supprimer</a>
              {% endif %}
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}

