<pre>
Regards Citoyens
chez Julien Rabier
Bâtiment A2
17 rue Corneille
31100 Toulouse

à

{{ parlementaire.adresse }}

{{ parlementaire|titre_parlementaire }},

Veuillez nous envoyer vos relevés de compte.

Bien cordialement,

Regards Citoyens
</pre>