{% extends "_base.html.j2" %}

{% block content %}
  <div class="col-md-8">
    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Présentation de l'opération</b>
      </header>
      <article class="panel-body">
        {% filter markdown -%}
          {% include "text/presentation.md" %}
        {% endfilter %}
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Comment nous aider ?</b>
      </header>
      <article class="panel-body">
        {% filter markdown -%}
          {% include "text/howto_help.md" %}
        {% endfilter %}
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Les étapes de l'opération</b>
      </header>
      <article class="panel-body">
        {% for etape in etapes %}
          <p>
            {{ etape|label_etape }}
            <small>{{ etape.description }}</small>
          </p>
        {% endfor %}
      </article>
    </section>
  </div>

  <div class="col-md-4">
    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Avancement</b>
      </header>
      <article class="panel-body" id="pie-container">
        <canvas id="pie-canvas" height="100" width="200"></canvas>
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Un parlementaire au hasard...</b>
      </header>
      <article class="panel-body parl-card">
        <img class="parl-photo" src="{{ parlementaire.url_photo }}/120" align="left">
        <div class="parl-detail">
          <b>{{ parlementaire.nom_complet }}</b> {{ parlementaire.groupe|label_groupe }}<br>
          {{ parlementaire|fonc_parlementaire }} &ndash; {{ parlementaire.nom_circo }} n°{{ parlementaire.num_circo }}<br><br>

          <a class="btn btn-primary btn-sm" href="{{ url_for('parlementaire', id=parlementaire.id) }}" role="button">Envoyer la demande</a>
        </div>
      </article>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" integrity="sha256-GcknncGKzlKm69d+sp+k3A2NyQE+jnu43aBl6rrDN2I=" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      (function ($) {
        var chart = new Chart($('#pie-canvas'), {
          type: 'pie',
          data: {{ etapes_data|tojson }},
          options: {
            legend: {
              position: 'left'
            },
            maintainAspectRatio: true
          }
        });
      })(jQuery);
    });
  </script>
{% endblock %}