{% extends "_base.html.j2" %}

{% block content %}
  <div class="col-md-8">
    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Présentation de l'opération</b>
      </header>
      <article class="panel-body">
        {% filter markdown -%}
          {% include "text/presentation.md" %}
        {% endfilter %}
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Comment nous aider ?</b>
      </header>
      <article class="panel-body">
        {% filter markdown -%}
          {% include "text/howto_help.md" %}
        {% endfilter %}
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Les étapes de l'opération</b>
      </header>
      <article class="panel-body">
        {% for etape in etapes %}
          {% if etape.ordre > 0 %}
            <p>
              {{ etape|label_etape }}
              <small>{{ etape.description }}</small>
            </p>
          {% endif %}
        {% endfor %}
      </article>
    </section>
  </div>

  <div class="col-md-4">
    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Avancement</b>
      </header>
      <article class="panel-body" id="pie-container">
        <div id="pie">
          <canvas id="pie-canvas" height="200" width="200"></canvas>
        </div>
        <div id="pie-legend">
          {% for etape in etapes %}
            {% if etape.label in etapes_data.labels %}
              <p>{{ etape|label_etape }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Un parlementaire au hasard...</b>
      </header>
      <article class="panel-body parl-card">
        <img class="parl-photo" src="{{ parlementaire.url_photo }}/120" align="left">
        <div class="parl-detail">
          <b>{{ parlementaire.nom_complet }}</b> {{ parlementaire.groupe|label_groupe }}<br>
          {{ parlementaire|fonc_parlementaire }} &ndash; {{ parlementaire.nom_circo }} n°{{ parlementaire.num_circo }}<br><br>

          <a class="btn btn-primary btn-sm" href="{{ url_for('parlementaire', id=parlementaire.id) }}" role="button">Envoyer la demande</a>
        </div>
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Carte par département</b>
      </header>
      <article class="panel-body" id="carte-container">
        {% include "viz/carte.html.j2" %}
      </article>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <div id="carte-popover" class="popover" role="tooltip" style="display: none;">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>
    <div class="popover-content"></div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" integrity="sha256-GcknncGKzlKm69d+sp+k3A2NyQE+jnu43aBl6rrDN2I=" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      var chart = new Chart($('#pie-canvas'), {
        type: 'pie',
        data: {{ etapes_data|tojson }},
        options: {
          legend: {
            display: false
          },
          responsive: false
        }
      });

      {% for dep in departements %}
        $('.departement{{ dep.num_deptmt }}')
          .attr('data-content',
            {% for ordre in [ordres.ETAPE_A_ENVOYER, ordres.ETAPE_A_CONFIRMER, ordres.ETAPE_ENVOYE] %}
              {{ etapes_by_ordre[ordre]|label_etape_text|tojson }} +
              "&nbsp;: {{ dep['nb_etape_%s' % ordre] }} <br>" +
            {% endfor %}
            ''
          );
      {% endfor %}

      $('.land').mouseover(function(e) {
        $('#carte-popover .popover-title').html($(this).attr('title'));
        $('#carte-popover .popover-content').html($(this).attr('data-content'));

      });

      $('.land').mousemove(function(e) {
        $('#carte-popover').css('left', e.clientX - 200)
                           .css('top', e.clientY + 20)
                           .show();
      });

      $('.land').mouseleave(function(e) {
        $('#carte-popover').hide();
      });
    });
  </script>
{% endblock %}