{% extends "_base.html.j2" %}

{% block content %}
  <div class="col-md-8">
    <div class="well lead">
      <p>L'Indemnité Représentative de Frais de Mandat (IRFM) est une indemnité d'environ 5 000 € versée chaque mois à tous les parlementaires pour couvrir les dépenses liées à leur mandat.</p>
      <p>Faute de transparence, nous demandons à chaque parlementaire de nous fournir les éléments permettant aux citoyens de contrôler l'utilisation de leur indemnité :</p>
      <ul>
        <li>les relevés bancaires du compte dédié (sur les 6 derniers mois)</li>
        <li>la dernière déclaration annuelle auprès du Bureau attestant sur l'honneur de l'utilisation conforme de l'IRFM</li>
      </ul>
    </div>

    <section class="panel panel-primary">
      <header class="panel-heading">
        <b>Comment nous aider ?</b>
      </header>
      <article class="panel-body">
        {% filter markdown -%}
          {% include "text/howto_help.md" %}
        {% endfilter %}
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Présentation de l'opération</b>
      </header>
      <article class="panel-body">
        {% filter markdown -%}
          {% include "text/presentation.md" %}
        {% endfilter %}
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Quelles sont les étapes suivantes pour obtenir la transparence de l'IRFM ?</b>
      </header>
      <article class="panel-body" id="procedure-container">
        {% include "viz/procedure.svg" %}
      </article>
    </section>
  </div>

  <div class="col-md-4">
    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Avancement</b>
      </header>
      <article class="panel-body" id="pie-container">
        <div id="pie">
          <canvas id="pie-canvas" height="200" width="300"></canvas>
        </div>
        <div id="pie-legend">
          {% for etape in etapes %}
            {% if etape.label in etapes_data.labels %}
              <p>
                <a href="{{ url_for('parlementaires') }}?q={{ etape.label }}">{{ etape|label_etape }}</a>
              </p>
            {% endif %}
          {% endfor %}
        </div>
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Un parlementaire au hasard...</b>
      </header>
      <article class="panel-body parl-card">
        <img class="parl-photo" src="{{ parlementaire.url_photo }}/120" align="left">
        <div class="parl-detail">
          <b>{{ parlementaire.nom_complet }}</b><br>
          {{ parlementaire|fonc_parlementaire }} {{ parlementaire.groupe|label_groupe }}<br>
          {{ parlementaire.nom_circo }} &ndash;
          Circonscription n°{{ parlementaire.num_circo }}<br><br>

          <a class="btn btn-primary btn-sm" href="{{ url_for('parlementaire', id=parlementaire.id) }}" role="button">Envoyer la demande</a>
        </div>
      </article>
    </section>

    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Avancement par département</b>
      </header>
      <article class="panel-body" id="carte-container">
        <div id="carte-legend">
          <div id="carte-legend-title"><small>Taux d'envoi des demandes de documents aux parlementaires</small></div>
          <div id="carte-legend-gradient">
          </div>
          <small>Aucun</small>
          <small>Tous</small>
        </div>
        {% include "viz/carte.html.j2" %}
      </article>
    </section>
  </div>
{% endblock %}

{% block scripts %}
  <div id="carte-popover" class="popover" role="tooltip" style="display: none;">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>
    <div class="popover-content"></div>
  </div>

  <div id="procedure-popover" class="popover" role="tooltip" style="display: none;">
    <div class="arrow"></div>
    <div class="popover-content"></div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js" integrity="sha256-GcknncGKzlKm69d+sp+k3A2NyQE+jnu43aBl6rrDN2I=" crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {

      /* Camembert */
      var circleRatio = 0.52;

      var chart = new Chart($('#pie-canvas'), {
        type: 'pie',
        data: {{ etapes_data|tojson }},
        options: {
          legend: {
            display: false
          },
          responsive: false,
          rotation: Math.PI * (1 - (circleRatio - 0.5)),
          circumference: 2 * Math.PI * circleRatio,
          cutoutPercentage: 25,
          animation: {
            animateRotate: false
          }
        }
      });

      /* Carte */

      {% for dep in departements %}
        $('.departement{{ dep.num_deptmt }}')
          .attr('data-content',
            {% for ordre in [ordres.ETAPE_A_ENVOYER, ordres.ETAPE_A_CONFIRMER] %}
              {{ etapes_by_ordre[ordre]|label_etape_text|tojson }} +
              "&nbsp;: {{ dep['nb_etape_%s' % ordre] }} <br>" +
            {% endfor %}

            {{ etapes_by_ordre[ordres.ETAPE_ENVOYE]|label_etape_text|tojson }} +
            "&nbsp;: {{ dep.nb_envoyes }} <br>"
          )
          .click(function() {
            location.href = '{{ url_for('parlementaires') }}?q={{ dep.num_deptmt }}';
          });
      {% endfor %}

      $('.land').mouseover(function(e) {
        $('#carte-popover .popover-title').html($(this).attr('title'));
        $('#carte-popover .popover-content').html($(this).attr('data-content'));

      });

      $('.land').mousemove(function(e) {
        $('#carte-popover').css('left', e.clientX - 200)
                           .css('top', e.clientY + 20)
                           .show();
      });

      $('.land').mouseleave(function(e) {
        $('#carte-popover').hide();
      });

      /* Procedure */

      var tooltips = {
        '#demande': "Envoi d'une demande de communication des relevés bancaires et de l'attestation d'utilisation de l'IRFM aux parlementaires",

        '#parl_cada': "Demande de communication au parlementaire suite à l'accord CADA",
        '#parl_ta': "Demande de communication au parlementaire suite à l'accord du Tribunal Administratif",
        '#parl_caa': "Demande de communication au parlementaire suite à l'accord de la Cour Administrative d'Appel",

        '#silence_parl': "Pas de réponse du parlementaire",
        '#silence_parl_cada': "Pas de réponse du parlementaire",

        '#refus_parl': "Le parlementaire refuse de nous communiquer les informations demandées",
        '#refus_parl_cada': "Le parlementaire refuse de nous communiquer les informations demandées malgré la décision de la CADA",
        '#refus_parl_ta': "Le parlementaire fait appel de la décision du Tribunal Administratif",
        '#refus_parl_caa': "Le parlementaire forme un pourvoi devant le Conseil d'État",

        '#accord_parl': "Le parlementaire accepte de nous communiquer les informations demandées",
        '#accord_parl_cada': "Le parlementaire accepte de nous communiquer les informations demandées",
        '#accord_parl_ta': "Le parlementaire accepte de nous communiquer les informations demandées",
        '#accord_parl_caa': "Le parlementaire accepte de nous communiquer les informations demandées",

        '#incompetence_cada': "La CADA se déclare incompétente pour traiter notre demande",
        '#incompetence_ta': "Le Tribunal Administratif se déclare incompétent pour traiter notre demande",
        '#incompetence_ce': "Le Conseil d'État se déclare incompétent pour traiter notre demande",

        '#rejet_cada': "La CADA rejette notre demande",
        '#rejet_ta': "Le Tribunal Administratif rejette notre demande",
        '#rejet_caa': "La Cour Administrative d'Appel rejette notre demande",
        '#rejet_ce': "Le Conseil d'État rejette notre demande",
        '#rejet_eur': "La juridiction Européenne rejette notre demande",

        '#accord_cada': "La CADA nous accorde le droit d'accès aux informations",
        '#accord_ta': "Le Tribunal Administratif nous accorde le droit d'accès aux informations",
        '#accord_caa': "La Cour Administrative d'Appel nous accorde le droit d'accès aux informations",
        '#accord_ce': "Le Conseil d'État nous accorde le droit d'accès aux informations",
        '#accord_eur': "La juridiction Européenne nous accorde le droit d'accès aux informations",

        '#lobbying': "Nous faisons du lobbying pour qu'un projet de loi soit adopté qui établisse la transparence de l'IRFM"
      };

      var tooltips_right = ['#accord_eur', '#rejet_eur', '#lobbying'];

      Object.keys(tooltips).forEach(function(sel) {
        var is_right = tooltips_right.indexOf(sel) !== -1;

        $(sel)
          .css('cursor', 'help')
          .mouseover(function(e) {
            $('#procedure-popover .popover-content').html(tooltips[sel]);
          })
          .mousemove(function(e) {
            $('#procedure-popover')
              .css('left', e.clientX + (is_right ? -210 : 10))
              .css('top', e.clientY + 10)
              .show();
          })
          .mouseleave(function(e) {
            $('#procedure-popover')
              .hide();
          });
      });

    });
  </script>
{% endblock %}
