{% extends "_base.html.j2" %}

{% block header %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-sortable.css') }}">
{% endblock %}

{% block content %}
  <section class="panel panel-default">
    <header class="panel-heading">
      <b>Liste des {{ parlementaires|length }} parlementaires</b>
    </header>

    <article class="panel-body">
      <div class="input-group">
        <span class="input-group-addon" id="search-header">Filtrer les parlementaires</span>
        <input type="search" autocomplete="off" autofocus="autofocus" class="form-control" id="search" placeholder="Nom, groupe, circonscription..." value="{{ request.args.q|e }}" aria-describedby="search-header">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="button" id="search-clear" style="display: none;">Effacer le filtre</button>
        </span>
      </div>
    </article>

    <table class="table table-condensed table-striped sortable searchable">
      <thead>
        <tr>
          <th colspan="2" data-defaultsort="asc" data-mainsort="1">Parlementaire</th>
          <th class="col-center">Groupe</th>
          <th>Circonscription</th>
          <th class="col-center">Étape</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for parl in parlementaires %}

          <tr>
            <td class="col-center">
              <a data-toggle="tooltip" title="Accéder à la page du parlementaire ({{ chambres[parl.chambre] }})" target="_blank" href="{{ parl.url_off }}">
                <img class="chamber-icon" src="{{ url_for('static', filename=parl.chambre|lower+'.png') }}">
              </a>
              <span class="search-vector">{{ parl.nom_complet }} {{ parl.nom_circo }} {{ parl.num_deptmt }} {{ parl.groupe.sigle }} {{ parl.groupe.nom }} {{ etapes_by_ordre[parl.etape].label }}</span>
            </td>
            <td data-value="{{ parl.nom }} {{ parl.prenom }}">
              <a href="{{ url_for('parlementaire', id=parl.id) }}">{{ parl.nom_complet }}</a>
              {% if not parl.adresse %}
                <span class="label label-danger">Adresse manquante !</span>
              {% endif %}
            </td>
            <td class="col-center">{{ parl.groupe|label_groupe }}</td>
            <td data-value="{{ parl.num_deptmt }} {{ parl.num_circo }}">{{ parl.nom_circo }} n°{{ parl.num_circo }}</td>
            <td data-value="{{ parl.etape }}" class="col-center">
              {{ parl.etape|label_etape }}
            </td>
            <td class="col-right">
              {% if parl.etape == 10 %}
                <a class="btn btn-primary btn-sm" href="{{ url_for('parlementaire', id=parl.id) }}" role="button">Envoyer la demande</a>
              {% else %}
                <a class="btn btn-default btn-sm" href="{{ url_for('parlementaire', id=parl.id) }}" role="button">Voir</a>
              {% endif %}
            </td>
          </tr>

        {% else %}

          <tr>
            <td class="warning" colspan="6">
              <em>Aucun parlementaire trouvé :(</em>
            </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
  </section>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='moment.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap-sortable.js') }}"></script>

  <script>
    $(document).ready(function() {
      var search = $('#search');
      var clear = $('#search-clear');

      clear.hide();

      function filterRows() {
        if (search.val()) {
          clear.show();

          var rex = new RegExp(search.val(), 'i');
          $('.searchable tbody tr').hide();
          $('.searchable tbody tr').filter(function () {
            return rex.test($(this).find('.search-vector').text());
          }).show();
        } else {
          $('.searchable tbody tr').show();
          clear.hide();
        }
      }

      clear.click(function() {
        search.val('');
        filterRows();
      });

      search.keyup(filterRows);
      filterRows();
    });
  </script>
{% endblock %}
