{% extends "_base.html.j2" %}

{% block content %}
  <section class="panel panel-default">
    <header class="panel-heading">
      <b>Liste des parlementaires</b>
    </header>
    <table class="table table-striped">
      {% for parl in parlementaires %}

        {% if loop.first %}
          <tr>
            <th>Parlementaire</th>
            <th>Etape</th>
          </tr>
        {% endif %}

        <tr>
          <th>{{ parl.nom }}</th>
          <th>{{ parl.etat }}</th>
        </tr>

      {% else %}

        <tr>
          <td class="warning" colspan="2">
            <em>Aucun parlementaire trouvé :(</em>
          </td>
        </tr>

      {% endfor %}
    </table>
  </section>
{% endblock %}
