{% extends "_base.html.j2" %}

{% block header %}
  <style>
    #letter-container {
      text-align: center;
    }

    iframe {
      width: 21cm;
      height: 29.7cm;

      margin-left: auto;
      margin-right: auto;

      border: 1px solid #ccc;
    }
  </style>
{% endblock %}

{% block menuitem %}
  <li role="presentation" class="active"><a href="#">{{ parlementaire.nom_complet }}</a></li>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <section class="panel panel-default">
      <article class="panel-body parl-card">
        <img class="parl-photo" src="{{ parlementaire.url_photo }}/120" align="left">
        <div class="parl-detail">
          <b>{{ parlementaire.nom_complet }}</b> {{ parlementaire.groupe|label_groupe }}<br>
          {{ parlementaire|fonc_parlementaire }} &ndash; {{ parlementaire.nom_circo }} n°{{ parlementaire.num_circo }}<br><br><br>
        </div>
      </article>
    </section>
  </div>
  {% if parlementaire.etape.ordre == 10 %}
    <div class="col-md-12" id="letter-container">
      <iframe name="demande" id="demande" src="{{ url_for('demande_pdf', id=parlementaire.id) }}">
      </iframe>
    </div>
  {% else %}
    ...
  {% endif %}
{% endblock %}
