{% extends "_base.html.j2" %}

{% block menuitem %}
  <li role="presentation" class="active"><a href="#">{{ parlementaire.nom_complet }}</a></li>
{% endblock %}

{% block content %}
  <div class="col-md-4">
    <section class="panel panel-default">
      <article class="panel-body parl-card">
        <img class="parl-photo" src="{{ parlementaire.url_photo }}/120" align="left">
        <div class="parl-detail">
          <b>{{ parlementaire.nom_complet }}</b> {{ parlementaire.groupe|label_groupe }}<br>
          {{ parlementaire|fonc_parlementaire }} &ndash; {{ parlementaire.nom_circo }} n°{{ parlementaire.num_circo }}<br><br>
          {{ parlementaire.etape|label_etape }}
          {% if not parlementaire.adresse %}
            <span class="label label-danger">Adresse manquante !</span>
          {% endif %}
        </div>
      </article>
    </section>

    {% if parlementaire.etape.ordre == 10 %}
      {% if session.user %}
        <section class="panel panel-default">
          <article class="panel-body">
            <a class="btn btn-primary btn-lg btn-block" href="{{ url_for('envoi', id=parlementaire.id) }}">Je prends en charge l'envoi !</button>
            <a class="btn btn-default btn-lg btn-block" href="{{ url_for('demande_pdf', id=parlementaire.id, mode='download') }}">Télécharger le courrier au format PDF</a>
          </article>
        </section>
      {% endif %}
    {% endif %}
  </div>

  {% if parlementaire.etape.ordre == 10 %}
    {% if session.user %}
      <div class="col-md-8">
        <section class="panel panel-default">
          <header class="panel-heading">
            <b>Quelle est la marche à suivre ?</b>
          </header>
          <article class="panel-body">
            {% filter markdown -%}
              {% include "text/howto_envoi.md" %}
            {% endfilter %}
          </article>
        </section>
      </div>

      <div class="col-md-12" id="letter-container">
        <iframe name="demande" id="demande" src="{{ url_for('demande_pdf', id=parlementaire.id, mode='show') }}">
        </iframe>
      </div>
    {% else %}
      <div class="col-md-8">
        <div class="alert alert-warning" role="alert">
          Pour envoyer une demande et assurer son suivi, il faut au préalable <a href="#" id="identify-link">vous identifier</a>.
        </div>
      </div>
    {% endif %}
  {% else %}
    <div class="col-md-8">
      ...
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>
    $('#identify-link').click(function() {
      $('.login .dropdown-toggle').dropdown('toggle');
    });
  </script>
{% endblock %}
