{% extends "_base.html.j2" %}

{% block content %}
  <div class="col-md-offset-2 col-md-8">
    <section class="panel panel-default">
      <header class="panel-heading">
        <b>Mes abonnements</b>
      </header>
      <article class="panel-body">
        <form class="abo-form" method="POST" action="{{ url_for('profil') }}">
          <div class="form-group">
            <input name="abo_irfm" id="abo_irfm" type="checkbox" value="abo_irfm" {% if user.abo_irfm %}checked="checked"{% endif %} />
            <div class="abo-desc">
              <label for="abo_irfm">Newsletter Transparence IRFM</label><br>
              Recevra un message à chaque avancée importante de l'opération de transparence IRFM (au maximum un message par mois).
            </div>
          </div>
          <div class="form-group">
            <input name="abo_rc" id="abo_rc" type="checkbox" value="abo_rc" {% if user.abo_rc %}checked="checked"{% endif %} />
            <div class="abo-desc">
              <label for="abo_rc">Newsletter Regards Citoyens</label><br>
              Reçoit un message à chaque billet ou communiqué publié sur le site <a href="https://www.regardscitoyens.org" target="_blank">RegardsCitoyens.org</a> (une fois tous les 1 à 3 mois).
            </div>
          </div>
          <div class="form-group">
            <input name="abo_membres" id="abo_membres" type="checkbox" value="abo_membres" {% if user.abo_membres %}checked="checked"{% endif %} />
            <div class="abo-desc">
              <label for="abo_membres">Mailing-list Membres</label><br>
              Liste de discussion des membres de l'association.  Reçoit les billets et communiqués, les résumés hebdomadaires des discussions IRC, les appels à contributions et compte-rendus de rendez-vous de la part du Conseil d'Administration, et héberge des discussions entre membres (trafic très variable, 1 à 3 messages par semaine hors actualité spécifique).
            </div>
          </div>
          <div class="centered-buttons">
            <input class="btn btn-primary" type="submit" value="Enregistrer">
          </div>
        </form>
      </article>
    </section>
  </div>
{% endblock %}
