/* En-tête de page */

.jumbotron {
  background-image: url(hemicycle.jpg);
  background-size: cover;
  background-position: center;

  padding: 24px 0 24px 0 !important;
}

.jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
}

.header-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.header-logo {
  height: 80px;
  margin-right: 1em;
}

.header-text h1 a {
  color: black;
  text-decoration: none;
}

.lead {
  font-size: 16px;
}

/* Composants génériques */

.chamber-icon {
  height: 1.5em;
}

.parl-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.parl-card .parl-photo {
  margin-right: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}

.parl-card .parl-detail {
  flex-grow: 1;
}

.admin {
  color: #b33237;
}


img.rc-small {
  height: 1.5em;
  vertical-align: top;
}

.markdown h5 {
  font-weight: bold;
}

.tuto-image {
  text-align: center;
  margin: 1em;
}

.tuto-image img {
  max-width: 100%;
}

.anon {
  color: #ccc;
}

/* Tableaux */

.search-vector {
  display: none;
}

td.col-center,
th.col-center {
  text-align: center;
}

td.col-right,
th.col-right {
  text-align: right;
}

td.col-nobreak,
th.col-nobreak {
  white-space: nowrap;
}

/* Login */


.nav li.login {
  float: right;
}

.login-form {
  padding: 1em;
}

.login-form input {
  width: 20em;
}

/* Camembert */

#pie-container {
  display: flex;
  flex-flow: row nowrap;
}

#pie-container #pie,
#pie-container #pie-legend {
  flex-grow: 0;
  flex-shrink: 0;
}

#pie-container #pie {
  text-align: center;
  flex-basis: 70%;
}

#pie-container #pie canvas {
  margin: 0 auto 0 auto;
}

#pie-container #pie-legend {
  flex-basis: 30%;
}

/* Carte des départements */

#carte-container {
  text-align: center;
}

#carte-legend {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-bottom: 1em;
}

#carte-legend-title {
  flex-basis: 100%;
  font-weight: bold;
}

#carte-legend-gradient {
  border: 1px solid #aaa;
  height: .7em;
  flex-basis: 100%;

  background: linear-gradient(to right, #fff, #4444bb);
}

#carte-legend small {
}

#carte .land {
  fill: white;
  fill-opacity: 1;
  stroke: #666;
  stroke-opacity: 1;
  stroke-width:0.5;
  stroke-miterlimit: 3.97446823;
  stroke-dasharray: none;
  cursor: pointer;
}

#carte text {
  fill: #666;
}

#carte-popover {
  display: none;
  position: fixed;
  min-width: 200px;

  font-size: 0.8em;
}

#procedure-popover {
  display: none;
  position: fixed;
  width: 200px;

  font-size: 0.8em;
}

/* Outils page parlementaire */

.centered-buttons {
  text-align: center;
  margin: 1em;
}

.label-next {
  padding-top: 1.15em !important;
}

#pie-legend a:hover {
  text-decoration: none !important;
}

/* Formulaire abonnements */

.abo-form .form-group {
  display: flex;
  flex-flow: row nowrap;
}

.abo-form .form-group input[type=checkbox] {
  flex-shrink: 0;
  flex-grow: 0;
}

.abo-form .form-group .abo-desc {
  flex-grow: 1;
  margin-left: 1em;
}
