.chamber-icon {
  height: 1.5em;
}

.parl-card {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.parl-card .parl-photo {
  margin-right: 1em;
  flex-grow: 0;
  flex-shrink: 0;
}

.parl-card .parl-detail {
  flex-grow: 1;
  flex-shrink: 0;
}

.search-vector {
  display: none;
}

td.col-center,
th.col-center {
  text-align: center;
}

td.col-right,
th.col-right {
  text-align: right;
}

.jumbotron {
  background-image: url(hemicycle.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron h1 {
  font-size: 40px;
  font-weight: bold;
}

.nav .admin {
  color: red;
}

.nav li.login {
  float: right;
}

.login-form {
  padding: 1em;
}

.login-form input {
  width: 20em;
}

#letter-container {
  text-align: center;
}

#letter-container iframe {
  width: 21cm;
  height: 29.7cm;

  margin-left: auto;
  margin-right: auto;

  border: 1px solid #ccc;
}

img.rc-small {
  height: 1.5em;
  vertical-align: top;
}

.faq h5 {
  font-weight: bold;
}
