<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <style>
      @page {
        size: A4;
        margin-left: 2cm;
        margin-right: 2cm;
        margin-top: 2cm;
        margin-bottom: 2cm;
      }

      body  {
        font-family: serif;
        font-size: 10pt;
      }

      .logo {
        height: 2cm;
      }

      .headers {
        padding-top: 1em;
      }

      .spacer {
        padding-top: 2em;
      }

      .date {
        text-align: right;
      }

      .content {
        text-align: justify;
      }

      .content p,
      .signature {
        text-indent: 2em;
      }
    </style>
  </head>
  <body>

    <table width="100%" border="0">
    <tr>
      <td width="10%" valign="top">
        <img class="logo" src="irfm/static/rc-big.png">
      </td>
      <td width="90%">
        <div class="address">
          Regards Citoyens<br>
          Chez Julien Rabier &ndash; Bâtiment A2<br>
          17 rue Corneille<br>
          31100 Toulouse<br>
          <i>contact@regardscitoyens.org</i>
        </div>
      </td>
    </tr>
    </table>

    <table width="100%" border="0">
    <tr>
      <td width="50%"></td>
      <td width="50%">
        <div class="address">
          <strong>
            {{ parlementaire|titre_parlementaire}} {{ parlementaire.nom_complet }}<br>
            {{ parlementaire.adresse|nl2br }}
          </strong>
        </div>
      </td>
    </tr>
    </table>

    <div class="spacer">&nbsp;</div>

    <div class="headers">
      <i>Par lettre recommandée avec avis de réception</i><br>
      Objet : Demande d'accès aux dépenses de vos frais de mandat.
    </div>

    <div class="spacer">&nbsp;</div>

    <div class="date">
      Toulouse, le {{ aujourdhui }}.
    </div>

    <div class="spacer">&nbsp;</div>

    <div class="content">

      <p>
        {{ parlementaire|titre_parlementaire }},
      </p>

      <p>
        Afin de faire face aux dépenses liées à votre activité de parlementaire, vous avez bénéficié d'une indemnité représentative de frais de mandat (IRFM). Cet argent public vous a été versé sur un compte bancaire dédié, l'usage de cet argent public étant encadré légalement &ndash; notamment par l'article 32bis du règlement de l'Assemblée nationale.
      </p>

      <p>
        Comme le reconnaissent nos principes constitutionnels et européens et le livre III du Code des relations entre le public et l'administration, tout citoyen à le droit d'accéder à l'information publique et donc au document justifiant des dépenses publiques. Nous souhaiterions donc que vous nous communiquiez par voie postale ou par courrier électronique aux coordonnées en tête de ce courrier les relevés bancaires de votre compte dédié à l'IRFM entre {{ debut_releves }} et {{ fin_releves }}{% if declaration %} ainsi que l'attestation de bon usage de votre IRFM que vous avez faite parvenir au Bureau de l'Assemblée avant le 31 janvier 2017, comme le prévoit l'alinéa 3 de l'article 32 bis du règlement de l'Assemblée nationale{% endif %}.
      </p>

      <p>
        Sachant votre dévouement pour le bien commun et dans l'attente d'une réponse positive de votre part, nous vous prions d'agréer, {{ parlementaire|titre_parlementaire }}, l'expression de nos sincères salutations.
      </p>
    </div>

    <div class="spacer">&nbsp;</div>

    <div class="signature">
      Regards Citoyens
    </div>

  </body>
</html>
