{{ parlementaire|titre_parlementaire }},

Si cette législature a permis un certain nombre d'avancées positives en matière
de transparence démocratique, un sujet est resté très peu abordé : les frais
représentatifs de mandats (IRFM).

La ligne de Regards Citoyens a toujours été de lutter contre le poujadisme et
d'accompagner les citoyens dans leur compréhension des mécanismes
parlementaires parfois complexes à appréhender d'un regard extérieur. Il nous
apparaît cependant clairement que les comportements déviants de certains
parlementaires accompagnés du manque de transparence pour les autres
parlementaires est l'un des plus gros moteurs de la défiance vis à vis du
Parlement d'un nombre croissant de nos concitoyens. Afin de recréer un lien de
confiance entre les citoyens et le Parlement, nous souhaitons donc contribuer
à apporter de la transparence sur le travail et les moyens du Parlement.

C'est pour cette raison que nous menons, à partir cette semaine, une opération
autour de la transparence des dépenses liées aux frais de mandat en la
demandant pour les 6 derniers mois de la législature aux députés sortants.

D'ici quelques jours, vous recevrez donc une demande d'accès à l'information
concernant les relevés de votre compte dedié à l'IRFM dont vous trouverez copie
en pièce jointe. L'analyse juridique que nous avons menée indique que, ce
compte étant dédié à la dotation budgétaire qui vous est allouée pour mener à
bien votre mandat, il est soumis aux obligations de transparence reconnus par
la constitution et les déclarations des droits de l'Homme.

Cette demande ne résoudra pas les impératifs de contrôle inhérents à toute
dépense publique, mais il nous semble qu'en vue d'avancer sur ce sujet, cela
pourrait constituer une première brique illustrant que les députés peuvent
facilement se plier aux règles de transparence et de bienveillance à l'égard
de leurs administrés.

Nous pensons par ailleurs qu'il s'agit d'une chance de vous démarquer pendant
cette campagne, en faisant acte de transparence dès aujourd'hui.

N'hésitez pas à nous faire parvenir vos remarques ou interrogations.

Bien cordialement,

--

Regards Citoyens
(cet e-mail a été co-rédigé)
