{{ parlementaire|si_sexe('Madame', 'Monsieur') }} {{ parlementaire.nom }},

Le 16 mai 2017, nous vous avions sollicité{{ parlementaire|si_sexe('e', '')}} afin d'obtenir la communication de
deux types de documents : les relevés des 6 derniers mois (de décembre 2016 à
mai 2017) de votre compte bancaire dédié à vos frais de mandat et la
déclaration sur l'honneur que vous deviez transmettre au 31 décembre 2016 au
Président de l'Assemblée nationale.

Vous aviez alors fait le choix de ne pas nous communiquer ces documents. Nous
tenions à vous informer que nous avons déposé mi-mai une requête au tribunal
administratif de Paris à l'encontre du refus de l'accès à ces documents
administratifs.

Nous revenons donc vers vous afin de vous informer que si vous souhaitiez
finalement nous faire parvenir ces documents, nous serions ravis de demander au
tribunal administratif le retrait de notre requête à l'égard de votre décision
de refus.

Vous connaissez notre dévotion en ce qui concerne la valorisation du travail
des membres du Parlement et la transparence des moyens mis à leur disposition
pour être en capacité de l'effectuer. Notre demande de communication vise
d'abord à assurer la transparence pour renforcer la confiance de nos
concitoyens envers les institutions, en démontrant que contrairement à l’idée
reçue, cette somme forfaitaire assurée chaque mois à tous les parlementaires
pour pouvoir payer leurs frais de mandat est utile, légitime et nécessaire au
bon fonctionnement de la démocratie. La publicité des données relatives aux
frais de mandat a un effet très positif sur la revalorisation du statut des
parlementaires. En montrant concrètement, dépense par dépense, pourquoi cette
somme d’argent est allouée aux parlementaires et comment ce budget sert le
mandat des représentants, la transparence de ces informations publiques a
permis, pour 7 de vos collègues qui ont accédé à notre demande, de participer à
rétablir la confiance entre citoyens et institutions. Elle a également permis
de montrer que, si des scandales ont pu révéler qu’il existe des mésusages liés
aux frais mis à disposition des parlementaires, ils sont certainement
minoritaires et ne sauraient entâcher l’ensemble des parlementaires.

Nous espérons vivement que vous accepterez de nous faire parvenir ces documents
essentiels à la démocratie et nous restons bien évidemment à votre disposition
si vous souhaitez échanger sur ce sujet.

Bien respectueusement,

--
Regards Citoyens
(cet e-mail a été co-rédigé)
