Bonjour {{ session.user.nick }},

Vous avez indiqué vouloir prendre en charge l'envoi d'une demande de documents
à {{ parlementaire.nom_complet }}.  Merci beaucoup !

Voici la marche à suivre :

1. Envoyez le courrier en recommandé avec avis de réception au parlementaire.
   Son adresse figure en tête du courrier.  Pensez bien à indiquer l'adresse de
   Regards Citoyens, elle aussi sur le courrier, comme expéditeur afin que nous
   recevions l'avis de réception.

   Vous pouvez envoyer le recommandé au format papier depuis un bureau de Poste,
   ou bien en ligne :
   <https://boutique.laposte.fr/envoi-de-courrier-en-ligne/lettre-recommandee-en-ligne>.

2. Retournez sur la page du parlementaire pour nous envoyer le numéro de suivi
   du courrier et ansi confirmer l'envoi :
   <{{ url_for('parlementaire', id=parlementaire.id, _external=True) }}>.

   N'oubliez pas cette étape pour que nous puissions suivre l'avancement de
   l'opération !  Vous pourrez si vous le souhaitez joindre une photo ou un
   scan de la preuve d'envoi.

   Lorsque vous confirmez l'envoi au nom de l'association Regards Citoyens,
   vous en devenez automatiquement membre. L'adhésion est gratuite et sans
   aucune obligation.  Vous pouvez si vous le souhaitez vous abonner à la liste
   de discussion des membres de l'association depuis la page de votre profil:
   <{{ url_for('profil', _external=True) }}>.

Note: pour pouvoir confirmer l'envoi, vous devrez vous identifier avec les
mêmes identifiants, à savoir :

  Pseudo: {{ session.user.nick }}
  E-mail: {{ session.user.email }}

Enfin, si vous changez d'avis (ce n'est pas grave !), merci de le signaler sur
la page du parlementaire <{{ url_for('parlementaire', id=parlementaire.id, _external=True) }}>.

N'hésitez pas à nous contacter par e-mail en cas de souci.

--

Regards Citoyens

Ce message a été envoyé automatiquement.  Si vous pensez l'avoir reçu par
erreur, merci de nous contacter par retour de mail.
