{{ parlementaire|titre_parlementaire }},

Si cette législature a permis un certain nombre d'avancées positives en matière
de transparence démocratique, un sujet est resté très peu abordé : l'indemnité
représentative de frais de mandat (IRFM).

La ligne de Regards Citoyens a toujours été de lutter contre le poujadisme et
d'accompagner les citoyens dans leur compréhension des mécanismes
parlementaires parfois complexes à appréhender d'un regard extérieur. Il nous
apparaît cependant clairement que les abus de certains parlementaires, et
l'opacité générale sur ce sujet, nourrissent la défiance vis à vis du
Parlement d'un nombre croissant de nos concitoyens. Afin de recréer un lien de
confiance entre les citoyens et le Parlement, nous souhaitons donc contribuer
à apporter de la transparence sur le travail et les moyens légitimes  du
Parlement.

C'est pour cette raison que nous menons, à partir de cette semaine, une
opération autour de la transparence des dépenses liées aux frais de mandat,
sous la forme  d'une demande auprès de chaque député sortant de la publication
de l'usage de l'IRFM sur les 6 derniers mois de la législature.

Nous joignons donc à ce courriel une demande d'accès à l'information concernant
les relevés de votre compte dedié à l'IRFM. Cette demande vous sera également
adressée par courrier dans les jours qui viennent.

L'analyse juridique que nous avons menée indique que, ce compte étant dédié
à la dotation budgétaire qui vous est allouée pour mener à bien votre mandat,
il est soumis aux obligations de transparence reconnues par la Constitution et
les déclarations des Droits de l'Homme.

Conscients que l'épluchage de vos frais par vos concurrents politiques durant
les législatives pourrait être un exercice particulièrement désagréable, et
afin de valoriser les députés volontaires qui répondraient avec bienveillance à
notre demande, nous avons pris la décision de ne rendre public les relevés de
comptes communiqués qu'à l'issue des élections législatives.

Cette demande ne résoudra pas les impératifs de contrôle inhérents à toute
dépense publique. Il nous semble néanmoins que cela pourrait constituer une
première étape, et offrir aux députés une occasion de démontrer leur souci de
transparence et de bienveillance à l'égard de leurs administrés.

Nous restons naturellement à votre entière disposition pour répondre à toutes
remarques, suggestions ou interrogations que pourraient vous inspirer cette
initiative.

Avec nos respectueux hommages, et dans l'espoir d'une réponse positive de
votre part, nous vous prions d'agréer, {{ parlementaire|titre_parlementaire }},
l'expression de notre considération la plus distinguée.

--

Regards Citoyens
(cet e-mail a été co-rédigé)
