Bonjour{% if not anon_id %} {{ user.nick }}{% endif %},

Une erreur s'est glissée dans l'e-mail d'alerte que nous venons de vous
envoyer, et le lien vers la page de {{ parl.nom_complet }} est incorrect.

Voici le bon lien :
<{{ url_for('parlementaire', id=parl.id, _external=True) }}>

Avec nos excuses, et bien cordialement,

--

Regards Citoyens

Ce message a été envoyé automatiquement. Si vous pensez l'avoir reçu par
erreur, merci de nous contacter par retour de mail.
